<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.admin.a4pics1word">
    <application
        android:allowBackup="true"
        android:icon="@drawable/iconp"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".PrincipalActivity"
            android:theme="@style/AppTheme"
            android:label="@string/Bb" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ChoixNiveau"
            android:label="@string/Bb" />
        <activity
            android:name=".Niveau1_1"
            android:label="@string/Bb" >

        </activity>


        <activity
            android:name=".Niveau1_2"
            android:label="@string/Aa" >

        </activity>

        <activity
            android:name=".Niveau1_3"
            android:label="@string/cah" >

        </activity>
    </application>


</manifest>
